NEXT_PUBLIC_APP_NAME=CargoGuardian
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_MAPBOX_PUBLIC_TOKEN=
NEXT_PUBLIC_DEMO_MODE=false

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

BLYNK_BASE_URL=https://blynk.cloud
BLYNK_AUTH_TOKEN=
BLYNK_WEBHOOK_SECRET=

TIGERGRAPH_BASE_URL=
TIGERGRAPH_GRAPH_NAME=
TIGERGRAPH_USERNAME=
TIGERGRAPH_PASSWORD=
TIGERGRAPH_API_KEY=

MAPBOX_SECRET_TOKEN=

SESSION_COOKIE_SECRET=
LOG_LEVEL=info
